@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

.container-fluid {
  font-family:
    'Nanum Gothic',
    sans-serif;
  padding: 0;
}

nav {
  background-color: #d35649;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav img {
  width: 200px;
  height: 50px;
}

nav .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

nav span {
  margin-left: -15px;
}

.fas {
  margin: 20px;
}

.search-container {
  height: 100vh;
  background-image: url("../images/school.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.title {
  position: relative;
  font-weight: bolder;
  top: 50px;
  left: 20px;
}

.search-container .work {
  color: #212529;
  background-color: #f8f9fa;
  margin: 40px 60px 0 60px;
  border: none;
  padding: 8px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bolder;
  outline: none;
}

.form-container {
  display: relative;
  background-color: rgba(219, 219, 219, 0.5);
  margin: 50px 20px 20px 20px;
  padding: 10px 20px 30px 20px;
  border-radius: 10px;
  font-size: 20px;
}

.search-container .title,
.form-container button {
  color: #fff;
  font-size: 18px;
}

.form-container input {
  border: none;
  padding: 10px 0;
  border-radius: 2px;
}

.form-container button {
  background-color: #d35649;
  border: none;
  padding: 10px 0;
  border-radius: 2px;
  outline-color: inherit;
}

.form-container button a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

.steps-title {
  color: #d35649;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bolder;
  text-align: center;
}

.steps-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.steps-container .steps-icons {
  font-size: 35px;
}

.steps-container .steps-head {
  font-size: 20px;
}

.find-school {
  display: flex;
  align-items: center;
  background-color: #d35649;
  color: #fff;
  padding: 10px 0;
}

.find-school button {
  outline: none;
  border: none;
  color: #d35649;
  background-color: #fff;
  padding: 5px;
  font-weight: bolder;
  border-radius: 3px;
}

.find-school button:hover {
  background-color: #801f14;
}

.find-school img {
  width: 290px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.travel-school {
  display: flex;
  align-items: center;
  background-color: #99A4A5;
  color: #fff;
  padding: 10px 0;
}

.travel-school button {
  outline: none;
  border: none;
  color: #99A4A5;
  background-color: #fff;
  padding: 5px;
  font-weight: bolder;
  border-radius: 3px;
}

.travel-school button:hover {
  background-color: #5d6262
}

.travel-school img {
  width: 290px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.easy-school {
  display: flex;
  align-items: center;
  background-color: #509BD7;
  color: #fff;
  padding: 10px 0;
}

.easy-school img {
  width: 290px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.search-title {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(128, 128, 128);
}

footer {
  background-color: #000;
}

footer .footer-links a {
  color: #fff;
  font-weight: bolder;
  margin: 0 5px;
}

footer .contact {
  color: #fff;
}

footer .footer-links a:hover {
  text-decoration: none;
  color: #fff;
}

footer .contact button {
  border: none;
  padding: 7px 10px;
  margin-left: -6px;
  background-color: #343a40;
  color: #fff;
}

footer .contact input {
  border-color: #fff;
  border-radius: 0px;
  padding: 5px 10px;
  background-color: #000;
  outline: none;
  color: #fff;
}
.search-main {
  background-color: rgba(219, 219, 219, 0.5);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  padding: 40px 0 40px 60px;
}

.search-main input, option {
  font-weight: bolder;
}

.search-main input, .search-main select{
  height: 30px;
  border: none;
  outline-color: rgb(135, 206, 235);
}

.search-main label {
  margin-bottom: 2px;
  font-weight: bolder;
  font-size: 18px;
}

.search-main button{
  margin-top: 28px;
  height: 30px;
  border: none;
  background-color: rgb(135, 206, 235);
  color: #fff;
  font-weight: bolder;
  outline: none;
  padding: 3px 5px;
}

.search-main button:hover {
    background-color: rgb(128, 181, 202);

}

.search-main button.filter {
  background-color: orange;
}

.search-main button.filter:hover{
  background-color: rgb(250, 180, 50);
}

.found-title {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(128, 128, 128);
}

.school-box {
  background-color: #d35649;
  height: 200px;
  width: 200px;
  margin: 10px 5px 5px 5px;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.school-box:hover{
  text-decoration: none;
  color: #fff;
  
}


@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .steps-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .search-container .work {
    margin: 0 auto;
  } 

  .find-school, .travel-school, .easy-school {
    display: grid;
    grid-template-columns: auto auto;
  }

  .school-names-2 {
    display: none;
  }

  .search-main-2 {
    display: none;
  }

}

@media screen and (max-width: 1023px) {
  nav span {
    display: none;
  }

  .school-names {
    display: none;
  }

  .search-main {
    display: none;
  }

}