@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.container-fluid {
  font-family:
    'Nanum Gothic',
    sans-serif;
    padding: 0;
}

nav {
  background-color: #d35649;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 nav img {
   width: 200px;
   height: 50px;
}

nav .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.fas {
  margin: 20px;
}

.search-container {
    margin-top: -60px;
    background-image: url("../images/school.jpg");
    background-color: rbga(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50px;
    height: 100vh;
}

.search-container .title {
  margin: 0 80px;
  font-weight: bolder;
}

.search-container .work {
  color: #212529;
  background-color: #f8f9fa;
  margin: 20px 60px 0 60px;
  border: none;
  padding: 8px;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
}

.form-container {
    background-color: rgba(219, 219, 219, 0.6);
    margin: 50px 20px 20px 20px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    font-size: 20px;
}
.search-container .title,
.form-container button
    {
    color: #fff;
    font-size: 18px;
}

.form-container input {
    border: none;
    padding: 10px 0;
    border-radius: 2px;
}

.form-container button {
    background-color: #d35649;
    border: none;
    padding: 10px 0;
    border-radius: 2px;
    outline-color: inherit;
}

 .steps-title {
  color: #d35649;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bolder;
}

.steps-container .steps-icons {
  font-size: 35px;
}

.steps-container .steps-head {
  font-size: 20px;
}

.find-school {
  display: flex;
  align-items: center;
  background-color: #d35649;
  color: #fff;
  padding: 10px 0;
}

.find-school button {
  outline: none;
  border: none;
  color: #d35649;
  background-color: #fff;
  padding: 5px;
  font-weight: bolder;
  border-radius: 3px;
}

.find-school button:hover {
  background-color: #801f14;
} 

.find-school img {
  width: 290px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.travel-school {
  display: flex;
  align-items: center;
  background-color: #99A4A5;
  color: #fff;
  padding: 10px 0;
}

.travel-school button{
  outline: none;
  border: none;
  color: #99A4A5;
  background-color: #fff;
  padding: 5px;
  font-weight: bolder;
  border-radius: 3px;
}

.travel-school button:hover {
  background-color: #5d6262
}
.travel-school img {
  width: 290px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.easy-school {
  display: flex;
  align-items: center;
  background-color: #509BD7;
  color: #fff;
  padding: 10px 0;
}

.easy-school img {
  width: 290px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

 footer {
  background-color: #000;
}

 footer .footer-links a{
  color: #fff;
  font-weight: bolder;
}

footer .contact {
  color: #fff;
}

footer .footer-links a:hover {
  text-decoration: none;
  color: #fff;
}

 footer .contact button {
  border: none;
   padding: 7px 10px;
   margin-left: -6px;
   background-color: #343a40;
   color: #fff;
}

footer .contact input {
  border-color: #fff;
  border-radius: 0px;
  padding: 5px 10px;
  background-color: #000;
  outline: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  footer .footer-links a{
  margin: 20px;
  }
}