@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container-fluid {
    font-family: 'Nanum Gothic',
        sans-serif;
}

nav {
    background-color: #d35649;
    color: #fff;
}

nav .logo a {
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }

    .fas {
        margin: 20px;
    }

}